[run]
source = prolif
omit =
  *test*

[report]
omit =
  */python?.?/*
  *__init__*
  *version*
  *command_line*
  *logger*
  *prolif.py*
exclude_lines =
  pragma: no cover
  class Range:
  if __name__ == .__main__.:
  .*logger.*
